# cmake stuff
build*/
Testing/
dynet/Testing/
dynet/tests.bin/
CTestTestfile.cmake
config.h
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
python/dynet.cpp
python/dist/
python/dyNET.egg-info/

# binaries

#data
rnnlm/ptb-mikolov/

# Python temporary files
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editor stuff
*.swp

# Doc stuff
doc/doxygen/xml
doc/source/tutorials_notebooks

.RData
.RHistory
examples/examples/attention
examples/examples/embed-cl
examples/tutorial/1_linear_regression
.gitignore
.gitignore
examples/examples/encdec
examples/examples/fflm
examples/examples/imdb
examples/examples/mnist
examples/examples/poisson-regression
examples/examples/read-write
examples/examples/rnn-autobatch
examples/examples/rnnlm
examples/examples/rnnlm-aevb
examples/examples/rnnlm-batch
examples/examples/rnnlm-batch-nce
examples/examples/rnnlm-cfsm
examples/examples/tag-bilstm
examples/examples/tok-embed
examples/examples/xor
examples/examples/xor-autobatch
examples/examples/xor-batch
examples/examples/xor-multidevice
examples/tutorial/0_multiply
.gitignore
.vscode/settings.json
.gitignore
